#ingredientModel.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "ingredientModelLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{ :role => "document"}
    .modal-content
      .modal-header
        %h5#ingredientModelLabel.modal-title= "Find & Add #{@recipe_form.ingredients.model_name.human.pluralize}"
        %button.close{ "aria-label" => "Close", "data-dismiss" => "modal", :type => "button" }
          %span{ "aria-hidden" => "true" } ×
      .modal-body
        = form_with data: { action: "submit->recipes#search" } do
          .form-group
            %input{ data: { target: "recipes.searchTerm" } }
            = submit_tag "Search", class: "btn btn-primary"
        %div{ data: { target: "recipes.searchResultsList" } }
      .modal-footer
        %button.btn.btn-secondary{ "data-dismiss" => "modal", :type => "button" } Close
