.container{ data: { controller: "recipes"} }
  %h2.card-title
    = "Edit #{@recipe_form.recipe.model_name.human}"
    = link_to "Cancel", @recipe_form.recipe, class: "btn btn-secondary" 
  = render partial: "form", locals: { recipe_form: @recipe_form }