.container{ data: { controller: "recipes"} }
  %h2.card-title
    = "New #{@recipe_form.recipe.model_name.human}"
    = link_to "Cancel", :root, class: "btn btn-secondary" 
  = render partial: "form", locals: { recipe_form: @recipe_form }